<div id="header">
    <div class="d-flex justify-content-center">
        <img src={{logo}}>
        <h1>NORTH BANK</h1>
    </div>
</div>
<div id="body">
    <div id = "buttonsBroad1">
        <div class="space1"></div>
        <div class = "buttons1">
            <img src={{button}}>
        </div>
        <div class="space1"></div>
        <div class = "buttons1">
            <img src={{button}}>
        </div>
    </div>
    <div id="ad">

    </div>
    <div id="buttonsBroad2">

    </div>
</div>
<div id="footer">

</div>
