

    <table class="table">
        <thead>
        <th>Key</th>
        <th>Title</th>
        <th>Author</th>
        <th>FinalPrice</th>
        <th>RegularPrice</th>
        <th >Discount
        
        </th>
        <th>Publisher</th>
        <th>PublishedDate</th>
        <th>Size</th>
        <th>Pages</th>
        <th>IsTikiNow</th>
        <th>Action</th>
    </thead>
    <tbody>
        <td>{{product.$key}}</td>
        <td>{{product.title}}</td>
        <td>{{product.author}}</td>
        <td>{{product.finalPrice | price}}</td>
        <td>{{product.regularPrice | price}}</td>
        <td *ngIf ="display; then thenBlock; else elseBlock">   
        </td>
        <ng-template #thenBlock>
            <p>-{{product.regularPrice-product.finalPrice}}</p>
        </ng-template>
        <ng-template #elseBlock>
            <p>-{{product.finalPrice/product.regularPrice| percent}}</p>
        </ng-template>
        <td>{{product.publisher}}</td>
        <td>{{product.publishedDate}}</td>
        <td>{{product.size}}</td>
        <td>{{product.pageCount}}</td>
        <td>{{product.isTikiNow}}</td>
        <td>
            <button (click) = "handleDisplayDetail()" class="btn btn-success">Detail of detail</button>
        </td>
        <td><button (click) = "displayDiscount()" class="btn btn-danger" *ngIf="display; then btnBlock1; else btnBlock2">Discount in percent</button></td>
        <ng-template #btnBlock1>
            <button (click) = "displayDiscount()" class="btn btn-danger" >Discount in percent</button>
        </ng-template>
        <ng-template #btnBlock2>
            <button (click) = "displayDiscount()" class="btn btn-danger" >Discount in real number</button>
        </ng-template>
    </tbody>
</table>
